.navbar-brand {
  position: relative;
  left: -60px;
  top: -10px;
  font-weight: bold;
  font-size: large;
  margin-left: 30px;
}
.navbar-nav {
  margin-left: 300px;
  font-size: large;
  font-weight: bold;
  padding-top: 0px;
  position: relative;
  left: 350px;
  top: 20px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 100%;
  margin: auto;
}
.container {
  width: 1280px !important;
}
.Slider-area {
  background-color: black;
  height: 750px;
}
.choices {
  background-color: rgb(40, 40, 40);
  height: 800px;
}
.column {
  float: left;
  width: 50%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
.about-section {
  background-color: rgb(40, 40, 40);
  height: 400px;
  padding-top: 80px;
}
